body {
    margin: 0;
}

.App {
    width: 963px;
    height: 749px;
    background-color: #14172D;
    margin: auto;
    border-radius: 15px;
    color: #8992AB;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.section {
    background-color: #1C233E;
    border-radius: 3px;
    overflow: hidden;
}




.NavBar {
    width: 100%;
    height: 50px;
    background-color: #222B45;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.NavBar div {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin: auto;
}

.NavBar button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #8992AB;
    background-color: transparent;
    border: none;
    padding: 0 20px;
}

.NavBar button div {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.profilePhoto {
    display: flex;
    align-items: center;
}

.profilePhoto p {
    margin-right: 5px;
}

.profilePhoto div img {
    height: 35px;
}

.NavBar button:hover {
    background-color: #343854;
}





.dashboard {
    width: 903px;
    height: 669px; 
    margin: 15px 30px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}





.TitleBar {
    width: 100%;
    height: 50px;
    background-color: #222B45;
    overflow: hidden;
}

.TitleBar h5 {
    font-size: 15px;
    line-height: 12px;
    font-weight: 400;
    margin: 13px 0 0 25px;
}

.TitleBar p {
    line-height: 7px;
    margin: 5px 0 13px 25px;
    font-weight: 300;
}





.MainSection {
    width: 100%;
    height: 150px;
}





.InputRecord {
    width: 600px;
    height: 234px;
}





.OptionsSection {
    width: 288px;
    height: 234px;
}





.RecordsList {
    width: 100%;
    height: 255px;
}

.records-table {
    border-collapse: collapse;
    width: 100%;
}

.records-table thead tr th {
    text-align: left;
    letter-spacing: 0.75px;
    font-weight: 700;
    padding: 20px 0 13px 0;
    font-size: 8px;
    line-height: 7px;
}

.records-table thead tr th:first-child,
.records-table tbody tr td:first-child{
    padding-left: 25px;
}

.records-table thead tr th:last-child,
.records-table tbody tr td:last-child{
    padding-right: 25px;
}

.records-table tbody tr:hover {
    background-color: #222B45;
}

.records-table tbody tr td {
    line-height: 7px;
    font-weight: 600;
    padding: 10px 0;
}

.hour {
    width: 55px;
    font-size: 14px;
}

.rut {
    width: 60px;
}

.type {
    width: 60px;
}

.patente {
    width: 55px;
}

.parcel {
    width: 55px;
    font-size: 18px;
}